body {
  background-color: rgba(0,0,0,0);
  margin: 0 auto;
  overflow: hidden;
}

.controller.xbox {
  background: url(https://i.imgur.com/fJIyBwn.png);
  width: 807px;
  height: 651px;
  margin-left: 0;
  margin-top: 0;
  position: relative;
  filter: grayscale(1) brightness(0.9) contrast(1.05);
}

/* dark overlay */
.controller.xbox::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  pointer-events: none;
  z-index: 50;
}

/* dark pink tint */
.controller.xbox::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(122,31,74,0.22);
  pointer-events: none;
  z-index: 51;
}

.xbox .sticks {
  width: 367px;
  height: 100px;
  left: 220px;
  top: 333px;
}

.xbox .stick {
  background: url(https://i.imgur.com/nXaGdI2.png);
  width: 100px;
  height: 100px;
}

.xbox .stick.pressed {
  background-position: -102px 0;
}

.xbox .stick.right {
  top: 0;
  left: 267px;
}

.xbox .abxy {
  width: 181px;
  height: 181px;
  left: 573px;
  top: 178px;
}

.xbox .button {
  background: url(https://i.imgur.com/DVqDSsJ.png);
  width: 58px;
  height: 58px;
}

.xbox .button.pressed {
  background-position-y: -59px;
  margin-top: 0;
}

.xbox .a { left: 61px; top: 123px; }
.xbox .b { left: 123px; top: 62px; }
.xbox .x { left: 0px; top: 61px; }
.xbox .y { left: 61px; top: 0px; }

.xbox .quadrant {
  display: none;
}

.xbox .touchpad {
  width: 333px;
  height: 177px;
  position: absolute;
  left: 237px;
  top: 118px;
  z-index: 60;
}

.xbox .touchpad::after {
  content: "Rio";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  font-size: 44px;
  letter-spacing: 2px;
  color: rgba(122,31,74,1);
  text-shadow: 0 2px 10px rgba(0,0,0,0.9);
  pointer-events: none;
}
