body {
  background-color: rgba(0,0,0,0);
  margin: 0 auto;
  overflow: hidden;
}

.controller.xbox {
  background: url(https://i.imgur.com/fJIyBwn.png);
  width: 807px;
  height: 651px;
  margin-left: 0;
  margin-top: 0;
  position: relative;
  filter: grayscale(1) brightness(0.9) contrast(1.05);
}

/* 65 percent black and white look, plus darken */
.controller.xbox::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  pointer-events: none;
  z-index: 50;
}

/* dark pink tint */
.controller.xbox::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(122,31,74,0.22);
  pointer-events: none;
  z-index: 51;
}

.xbox .sticks {
  width: 367px;
  height: 100px;
  left: 220px;
  top: 333px;
}

.xbox .stick {
  background: url(https://i.imgur.com/nXaGdI2.png);
  width: 100px;
  height: 100px;
}

.xbox .stick.pressed {
  background-position: -102px 0;
}

.xbox .stick.right {
  top: 0;
  left: 267px;
}

.xbox .abxy {
  width: 181px;
  height: 181px;
  left: 573px;
  top: 178px;
}

.xbox .button {
  background: url(https://i.imgur.com/DVqDSsJ.png);
  width: 58px;
  height: 58px;
}

.xbox .button.pressed {
  background-position-y: -59px;
  margin-top: 0;
}

.xbox .a {
  background-position: 0 0;
  left: 61px;
  top: 123px;
}

.xbox .b {
  background-position: -59px 0;
  left: 123px;
  top: 62px;
}

.xbox .x {
  background-position: -118px 0;
  left: 0px;
  top: 61px;
}

.xbox .y {
  background-position: -177px 0;
  left: 61px;
  top: 0px;
}

.xbox .arrows {
  left: 195px;
  top: 140px;
  width: 416px;
  height: 57px;
}

.xbox .quadrant {
  display: none;
}

.xbox .back,
.xbox .start {
  background: url(https://i.imgur.com/YJRVQxC.png);
  width: 27px;
  height: 57px;
  opacity: 0;
}

.xbox .start {
  background-position: 27px 0;
  float: right;
}

.xbox .dpad {
  width: 144px;
  height: 144px;
  left: 71px;
  top: 196px;
}

.xbox .face {
  background: url(https://i.imgur.com/hCmzXWK.png);
  position: absolute;
  opacity: 0;
}

.xbox .face.up {
  background-position: 0 -68px;
  width: 52px;
  height: 63px;
  left: 46px;
}

.xbox .face.down {
  background-position: -54px 63px;
  width: 52px;
  height: 63px;
  left: 46px;
  top: 81px;
}

.xbox .face.left {
  background-position: -108px -68px;
  width: 64px;
  height: 52px;
  left: -1px;
  top: 47px;
}

.xbox .face.right {
  background-position: -175px -68px;
  width: 63px;
  height: 52px;
  left: 81px;
  top: 46px;
}

.xbox .bumpers {
  width: 620px;
  height: 35px;
  left: 93px;
  top: 114px;
}

.xbox .bumper {
  background: url(https://i.imgur.com/2YssqRT.png);
  width: 110px;
  height: 35px;
  opacity: 0;
}

.xbox .triggers {
  width: 619px;
  height: 108px;
  left: 94px;
}

.xbox .trigger {
  background: url(https://i.imgur.com/LsxmGBD.png);
  width: 111px;
  height: 108px;
  opacity: 0;
}

.xbox .trigger.right {
  background-position: -113px 0;
  transform: rotateY(0);
}

/* touchpad press image */
.xbox .touchpad {
  width: 333px;
  height: 177px;
  position: absolute;
  left: 237px;
  top: 118px;
  z-index: 60;
}

.xbox .touchpad.pressed {
  background: url(https://i.imgur.com/78UZdwp.png) no-repeat center;
}

/* Rio on touchpad */
.xbox .touchpad::after {
  content: "Rio";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  font-size: 46px;
  letter-spacing: 2px;
  color: rgba(122,31,74,1);
  text-shadow: 0 2px 10px rgba(0,0,0,0.9);
  pointer-events: none;
}

.xbox .meta {
  width: 51px;
  height: 40px;
  position: absolute;
  left: 378px;
  bottom: 255px;
}

.xbox .meta.pressed {
  background: url(https://i.imgur.com/vJ4YyEZ.png) no-repeat center;
}
